<div class="container">

<br>
<br>
<br>
<br>

    <div class="card" style="width:auto;background-color:#ECEFF1;">

      <div class="card-body" id="contactCss">

        <h3 class="card-title" style="text-align:centre;">
          <i class="fa fa-address-card-o fa-2x" aria-hidden="true" style="padding-left:70px;"></i>
          <h2> Npn Infra Inc.</h2>
          <h2> Tirupati-517181</h2>

        </h3>

        <h2 class="card-title" style="text-align:centre;">
          <i class="fa fa-mobile fa-2x" aria-hidden="true" style="padding-left:70px;"></i>
           <h2> +91 9999999999 </h2>
           <h2> 0877 2282887 </h2>
        </h2>

        <h2 class="card-title" style="text-align:centre;">
           <i class="fa fa-envelope" aria-hidden="true"></i>
            xyz@npninfra.com
        </h2>

      </div>

    </div>

<br>

    <h2> FIND US </h2>
    <hr>

    <agm-map [latitude]="lat" [longitude]="lng"></agm-map>

<br>
<br>


</div>
